.my-picture img {
  height: 60px;
}

.my-picture {
    display:inline-block;
}

.title{
  display:inline-block; /*inline-block used as the div tag with the class title contains a block element, h1.*/
  vertical-align: top;
}

header {
  background-color: #fdfdfc;
  text-align: center;
  border-bottom: 1px solid #e7e6e6;
  padding-top: 14px;
  height: 70px;
}
